.main {
  background-color: #fff;
  padding: 0px 20px 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.navbar {
  height: 60px;
}
.my-table-box {
  width: 100%;
  justify-content: center;
}
.filter {
  width: 100%;
  display: flex;
}
.line {
  margin-right: 10px;
}
