/* body {
  padding-left: 300px;
} */
.main {
  width: 100%;
  height: 100%;
}
.main-part {
  padding-left: 300px;
  box-sizing: border-box;
}
.menu-box {
  height: 100%;
  width: 300px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  position: fixed;
  background-color: var(--item);
}
.menu-item {
  width: 100%;
  min-height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  list-style: none;
  background-color: var(--item);
  border-bottom: 1px solid rgba(168, 168, 168, 0.22);
  cursor: pointer;
}
.item-active {
  background-color: var(--subjectColor) !important;
}
.menu-item .pull-down {
  margin-bottom: -5px;
  transition: transform 0.5s;
}
.spin-icon {
  transform: rotate(180deg);
}
.menu-children {
  width: 100%;
  background-color: var(--itemChild);
}
.menu-title {
  height: 60px;
  width: 100%;
  color: #fff;
  font-family: 楷体;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0em;
  text-align: center;
  line-height: 60px;
}
ul {
  padding: 0;
}
/* 状态栏 */
.page-status {
  width: 100%;
  height: 60px;
  background-color: #fff;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
}
.user-name {
  font-family: 楷体;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2em;
}
.loginout {
  font-family: 楷体;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-left: 10px;
  cursor: pointer;
}
.loginout:hover {
  color: var(--subjectColor);
}
.page-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
/* 导航栏 */
.navigation {
  width: calc(100% - 40px);
  min-height: 60px;
  background-color: #fff;
  margin: 10px 0;
  flex-wrap: wrap;
}
.navigation .navigation-item {
  height: 30px;
  border-radius: 5px;
  color: #fff;
  background-color: var(--navigation);
  font-size: 14px;
  padding: 2px 10px;
  cursor: pointer;
  margin-right: 5px;
}
.navigation-item .cha {
  margin-left: 10px;
}
.navigation-item:hover {
  background-color: var(--subjectColor);
}
.navigation-active {
  background-color: var(--subjectColor) !important;
}
/* 页面内容 */
.page-content {
  width: 100%;
  height: 100%;
}
.page-content .iframe {
  border: none;
  width: calc(100% - 4px);
  height: calc(100vh - 160px);
}

.page-content .navbar {
  height: 60px;
  background-color: #fff;
}
.page-content .my-table-box {
  width: 100%;
  justify-content: center;
  background-color: #fff;
  box-sizing: border-box;
  padding: 5px;
}
.page-content .filter {
  width: 100%;
  display: flex;
}
.page-content .line {
  margin-right: 10px;
}

.page-content .btn-info {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: var(--borderColor);
  background-image: url("/img/add_icon.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 20px 22px;
  border-radius: 20px;
  margin-right: 10px;
}
